*.log
*.pyc
*.orig
*.zip
Data/
Sounds/output/
testunitaire.py
Plugins/automationmode.py
Plugins/feedback.py
Plugins/eyetracker.py
generateSequence
computeData.py
eyetrackerDetector.*
build/
OpenMATB/
compilation_cxfreeze.py
compilation_cxfreeze.bat
.Rhistory
Audacity.png
OpenMATBscreenshot.png