# lsl_api.cfg
# Configuration file for liblsl.

[ports]
# Explicitly define the multicast address and port to use, which can help in restricted networks.
MulticastAddress = 232.174.116.13
MulticastPort = 16572

[network]
# A list of interfaces to use for multicast. Empty means 'all'.
# Let's try to force it to 'all' explicitly if possible, or leave it to default.
# We can also try to specify the main interface if we know it (e.g., en0)
# For now, we'll leave this commented out to see if the port/address change is enough.
# MulticastInterfaces = en0

# KnownPeers can be used to manually specify the IP address of the machine running LabRecorder.
# If LabRecorder is on the same machine, 127.0.0.1 should work.
KnownPeers = 127.0.0.1
